/*------------------------------------------------*/
/* Basic styles */
/* Designed and coded by HeroWP.com*/
/* Don't forget to visit us daily for tons of freebies:
	-PSD Templates
	-Wordpress Plugins
	-Wordpess Themes
	-HTML Designs
	-& many more!
*/
/*------------------------------------------------*/

body{
	font-family:'Maitree', Arial;
	color:#000;
}

#defaultCountdown{
	z-index:2;
	margin:0 auto;
	display:table;
	position:relative;
}

.countdown-row {
	margin:0 auto;
	width:100%;
	display:table;
	text-align:center;
}

.countdown-section {
	display: block;
	float: left;
	text-align: center;
	width:100px;
	height:100px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border:solid 3px #ff9c00;
	text-align:center;
	margin:40px 20px;
}

.countdown-amount {
    font-size: 40px;
	font-weight:700;
	color: #555;
	line-height:100px;
}
.countdown-period {
    display: block;
	line-height:60px;
	color: #777;
	font-size:18px;
	font-weight:100;
}

.countdown-section:nth-child(1) .countdown-period {
	color: #0173bc
}
.countdown-section:nth-child(2) .countdown-period {
	color: #3ab54a
}
.countdown-section:nth-child(3) .countdown-period {
	color: #f00000
}
.countdown-section:nth-child(4) .countdown-period {
	color: #fbbc05
}
.countdown-section:nth-child(1) {
	border-color: #0173bc
}
.countdown-section:nth-child(2) {
	border-color: #3ab54a;
}
.countdown-section:nth-child(3) {
	border-color: #f00000;
}
.countdown-section:nth-child(4) {
	border-color: #fbbc05;
}

.image-align{
	margin:0 auto;
	text-align:center;
	display:block;
}

display-header{
	font-size:56px;
	font-weight:300;
	text-align:center;
	display: block;
}

display-header small{ font-size:32px; 1}

p {
	font-size:16px;
	line-height:30px;
	text-align:center;
	font-weight:100;
}

/*------------------------------------------------*/
/* Responsive styles */
/*------------------------------------------------*/

@media (max-width: 720px) {
	.countdown-section { margin:5px; }
	.section-header { display: none; }
}

@media (max-width: 800px){

	.countdown-section {
		display: block;
		float: left;
		text-align: center;
		width:75px;
		height:75px;
		margin:6px;
	}

	.countdown-amount {
		font-size: 32px;
		font-weight:700;
		line-height:74px;
	}

}

@media (max-width: 420px){
	.countdown-period {
		font-size: 90%
	}
	.countdown-section {
		display: block;
		float: left;
		text-align: center;
		width:56px;
		height:56px;
		margin:2px;
	}

	.countdown-amount {
		font-size: 24px;
		font-weight:700;
		line-height:58px;
	}

	.image-align {
		padding-top: 20px;
		width:30%;
		height: 30%;
	}

	display-header { font-size:32px; }

	display-header small{ font-size:18px; }

	.section-header { display: none; }
}